canvas {
  display: block;
  margin: 0 auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal {
  width: 500px;
  height: 300px;
  position: absolute;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: scale(0); 
}


.modal button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #065324;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0f172a;
}
